.section-header {
  font-family: Spartan;
  font-weight: bold;
  font-size: 34px;
  line-height: 40px;
  color: black;
  /* identical to box height */
  letter-spacing: 0.25px;
}

.custom_w70 {
  width: 70%;
}

.custom_w30 {
  width: 30%;
}
