.step-number {
  background-image: url('../../assets/images/hexagon.svg');
  background-repeat: no-repeat;
  width: 31px;
  height: 34px;
}
.bg-step {
  border: 2px solid #EFF3F4;
}
.step-header {
  height: 70px;
}
.flex-none {
  flex: none;
}
.step-desc {
  line-height: 16px;
}
.cursor-pointer {
  cursor: pointer;
}
.flex-1 {
  flex: 1;
}