$primary-main: #1976d2;
$primary-white: #ffffff;
$baseline-text-primary: rgba(0, 0, 0, 0.87);
$baseline-text-primary-light: #A6D7FF;
$baseline-text-secondary: rgba(0, 0, 0, 0.54);
$secondary-selected: rgba(0, 0, 0, 0.08);
$secondary-dark: #1e88e5;
