@mixin button {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.4px;
}

@mixin text {
  font-weight: normal;
  font-size: 12px;
  line-height: 17px;
  letter-spacing: 0.5px;
}

@mixin caption {
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
}

@mixin h5 {
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;
}

@mixin h6 {
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0.15px;
}

@mixin subtitle1 {
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.15px;
}

@mixin bottomnav {
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.1px;
}
