$black: #000000;
$blue: #1976d2;
$primary: #1976d2;
$secondary: #64b5f6;
$grey-light: #8999a4;
$primary-selected: rgba(33, 150, 243, 0.08);
$primary-hover: #2196f310;
$secondary-dark: #1e88e5;
$secondary-light: #e3f2fd;
$text-secondary: rgba(0, 0, 0, 0.54);
$blue-light: rgba(25, 118, 210, 0.7);
$text-primary: rgba(0, 0, 0, 0.87);
$text-disabled: rgba(0, 0, 0, 0.38);
$black-light: #37474f;
$black-lighter: rgba(0, 0, 0, 0.5);
$white: white;
$black-item-light: rgba(0, 0, 0, 0.5);
$blue-lighter: rgba(33, 150, 243, 0.04);
$warning-light-bg: #fff4e5;
$success-light-bg: #edf7ed;
$greyish-blue: #253947;
$disable: #CAD6DE;
$secondary-hover: #F9FBFD;