@import './variables';

.btn-plus-watchers {
  border-radius: 50%;
  background-color: $secondary-hover;
  height: 50px;
  width: 50px;
  font-size: 30px;
}

.btn-close-watchers {
  border-radius: 50%;
  background-color: $grey-light;
  height: 28px !important;
  width: 28px !important;
}

.flex1 {
  flex: 1;
}

.border-rounded-watcher {
  border-radius: 30px !important;
}