.flex1 {
  flex: 1;
}

.height-130 {
  height: 130px;
}
.text-free {
  font-size: 30px;
  margin-right: -30px;
}
.width-110 {
  width: 110px;
}
.badge {
  width: 107px;
  left: -7px;
  top: -1px;
}
.active-plan {
  left: 32px;
  top: 29px;
  transform: rotate(42deg);
}